
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.MainView {
    background-color: #DDDDDD;
    padding: 1em;
}

button, .button {
    background-color: #66AAFF;
    color: white;
    border: 0;
    border-radius: 0.3em;
    padding: 0.3em 0.8em;
    margin: 0.3em;
}

.ControlBar {
    display: flex;
    justify-content: space-between;
    background-color: #66AAFF;
    padding: 0;
}
.ControlBar .startSide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
.ControlBar .endSide {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.ControlBar a {
    margin: 1.5em;
    padding: 0;
    text-decoration: none;
    color: black;
}
.ControlBar .startSide a {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.80em;
}
.ControlBar a:hover {
    color: white;
}
.ControlBar a:active {
    color: black;
}

.AuthView .header {
    padding: 1em;
    font-size: 120%;
}
.AuthView .body {
    padding: 1em;
}
.AuthView .body * {
    padding: 0.3em;
}
.AuthView form {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.AuthView .errorMessage {
    color: red;
}

.BlogView .category {
    text-align: left;
    font-weight: bold;

}
.BlogView .name {
    text-align: center;
    font-size: 120%;
}
.BlogView .content {

}
.BlogView .status {
    font-size: 80%;
}
.BlogView .author {
    text-align: right;
}
.BlogView ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.Card {
    background-color: #FFFFFF;
    padding: 1em;
    border-radius: 0.1cm;
}
.CardList {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    gap: 1em;
}
